<!-- <% if (user) { %>
    <%= user.username %>
    <p><%= user.name %></p>
<% } %> -->


<%- include ("_layouts/header") %>

    <style>
        .test111 {
            display: flex;
        }
    </style>
    <section style="margin-top: 20px;">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-12 test111">
                    <h2 class="ftco-heading-2">Welcome Farmer</h2>
                    <img src="../../../frontend/images/farmer_icon.png" alt="">
                </div>
                <div class="col-md-12 test111">
                    <h5 class="ftco-heading-2">Name: <%= user.name %></h5>
                </div>
                <div class="col-md-12 test111">
                    <h5 class="ftco-heading-2">Email: <%= user.email %></h5>
                </div>
            </div>
        </div>
    </section>

    <section class="">
        <div class="container">
            <div class="row no-gutters ftco-services">
                <div class="col-md-12 text-center d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services mb-md-0 mb-4">
                        <a href="/users/farmer/cropregistration">
                            <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
                                <img src="../../../frontend/images/seed.png" alt="">
                            </div>
                            <div class="media-body">
                                <h3 class="heading">Crop Registration</h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <%- include ("_layouts/footer") %>